HOST_WEB_PORT=4444
HOST_DB_PORT=3351

FACEBOOK_APP_ID=280117127304371
FACEBOOK_APP_SECRET=4f4c7d4443caf419165f319e56d8f4bc

DB_HOST=db
DB_DATABASE=api
DB_USERNAME=api_user
DB_PASSWORD=api_user_pass
DB_ROOT_PASSWORD=api_root_user